In [2]:
import pandas as pd

In [5]:
california_file_path = 'california-housing/housing-data.csv'
california_data = pd.read_csv(california_file_path)
california_data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [7]:
california_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [8]:
y = california_data.median_income

In [10]:
california_features = ['total_rooms', 'population', 'longitude', 'latitude', 'households']
x = california_data[california_features]
x.describe()
x.head()

   total_rooms  population  longitude  latitude  households
0        880.0       322.0    -122.23     37.88       126.0
1       7099.0      2401.0    -122.22     37.86      1138.0
2       1467.0       496.0    -122.24     37.85       177.0
3       1274.0       558.0    -122.25     37.85       219.0
4       1627.0       565.0    -122.25     37.85       259.0

In [11]:
from sklearn.tree import DecisionTreeRegressor

california_data = DecisionTreeRegressor(random_state=1)
california_data.fit(x,y)

DecisionTreeRegressor(random_state=1)

In [18]:
print("Prediksi Harga 5 Rumah:")
print(x.head())
print("Prediksinya adalah:")
print(california_data.predict(x.head()))
print('Riil')
print(y)

Prediksi Harga 5 Rumah:
   total_rooms  population  longitude  latitude  households
0        880.0       322.0    -122.23     37.88       126.0
1       7099.0      2401.0    -122.22     37.86      1138.0
2       1467.0       496.0    -122.24     37.85       177.0
3       1274.0       558.0    -122.25     37.85       219.0
4       1627.0       565.0    -122.25     37.85       259.0
Prediksinya adalah:
[8.3252 8.3014 7.2574 5.6431 3.8462]
Riil
0        8.3252
1        8.3014
2        7.2574
3        5.6431
4        3.8462
          ...
20635    1.5603
20636    2.5568
20637    1.7000
20638    1.8672
20639    2.3886
Name: median_income, Length: 20640, dtype: float64

In [23]:
from sklearn.metrics import mean_absolute_error

predicted_housing_prices = california_data.predict(x)
mean_absolute_error(y, predicted_housing_prices)

7.745742032268534e-19

In [38]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(x, y, random_state=1)

california_model = DecisionTreeRegressor(random_state=1)
california_model.fit(train_x, train_y)

val_predictions = california_model.predict(val_x.head())
# print(mean_absolute_error(val_y, val_predictions))

In [39]:
print(val_predictions)
print(val_y.head())

[4.0153 2.234  2.4113 2.0062 5.8083]
4712     3.2500
2151     1.9784
15927    4.0132
82       1.5208
8161     5.1795
Name: median_income, dtype: float64

In [35]:
mae = mean_absolute_error(val_y.head(), val_predictions)
print(mae)

0.7474000000000001